
// Colors
// $color-bg:#f9f9f9;
// $color-black-text:#151515;
// $color-white:#FFFFFF;
// $color-green-grass:#6A983C;
// // FONTS
// $font-Open-sans: "Open Sans" "Arial", sans-serif;
// $font-Poppins:"Poppins", "Arial", sans-serif;


$main-color:#151515;
$green-cl:#6A983C;
$grey-cl:#A9A9A9;
$lightGrey-cl:#F5F5F5;
$white-cl:#fff;
$dark-cl:#575757;

$main-font:'Poppins', sans-serif;
$secondary-font:"Open Sans", sans-serif;