.middle__search-form {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color: #F9F9F9;
    padding: 10px 44px 11px 16px;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    background-image: url(/img/search-icon.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: calc(50% + 120px);   
}

.search-icon{
    display: none;
}

@media only screen and (max-width: 925px) {
    .middle__search-form {
     display: none;
    }

    .search-icon{
        display: block;
    }
    
  }



.search-form__select {
    font-family: $font-Poppins;
    border: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: $color-black-text;
    background-color:transparent;
    width: 130px;
    margin-right: 48px;
  
}

.search-form__select::after {
    content: "";
    width: 2px;
    height: 5px;
    border-right: 2px solid black;
    padding-right: 24px;
}

.search-form__input {
    background-color: transparent;
    border: none;
    font-family: $font-Open-sans;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    width: 262px;
   padding: 5px;
}


